.main{
  width: 600px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #999;  
  padding-bottom: 10px;
  .title{
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
  }
  .message-area{
    height: 60%;
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
  }
  .send-area{
    height: 26%;
    display: flex;
    width: 90%;
    margin: 0 auto;
    textarea{
      width: 80%;
      height: 100%;
    }
    button{
      margin-left: 10px;
      width: 18%;
      height: 100%;
    }
  }
}
.mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #524d4d;
    display: flex;
    justify-content: center;
    h3{
      margin-top: 150px;
      color: #fff;
    }
}