.wrap{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  font-size: 16px;
  min-height: ~"calc(100vh - 64px - 66px - 40px)";
  z-index: 2;
  .main{

    width: 600px;
    height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsla(0,0%,50%,.25);  
    padding-bottom: 10px;
    animation: leftRotate 0.2s ease-in;
    .title{
      height: 50px;
      line-height: 50px;
      font-size: 30px;
      color: #fff;
    }
    .message-area{
      height: 75%;
      width: 90%;
      background-color: hsla(0,0%,70%,.25);
      color: #fff;
      margin: 0 auto;
      .msg-row{
        .name{
          color: #25c6b7;
        }
        .sys-msg{
          height: 20px;
          line-height: 20px;
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
    .send-area{
      height: 16%;
      display: flex;
      width: 90%;
      margin: 0 auto;
      textarea{
        width: 80%;
        height: 100%;
        background: hsla(0,0%,70%,.25);
        color: #fff;
        border: none;
      }
      button{
        margin-left: 10px;
        width: 18%;
        height: 100%;
      }
    }
  }
  .sider-bar{
    width: 200px;
    height: 770px;
    margin-left: 10px;
    background-color: hsla(0,0%,50%,.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    color: #fff;
    animation:rightRotate .2s ease-in;
    .top-area{
      height: 30%;
      .top-area-column{
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        background-color: hsla(0,0%,70%,.25);
      }
      .top-area-content{
        height: 15%;
        width: 100%;
        word-break: break-all;
      }
    }
    .bottom-area{
      height: 70%;
      .bottom-area-column{
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        background-color: hsla(0,0%,70%,.25);
      }
      .bottom-area-content{ 
        height: 65%;
        ul{
          height: 100%;
          overflow-y: auto;
          li{
            list-style: none;
            height: 25px;
            font-size: 12px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 25px;
          }
        }
      }
    }

  }
  .message-panel{
    background-color: hsla(0,0%,50%,.25);
    margin: 0 15px;
    padding: 15px;
    position: relative;
    animation: flipLeft 0.2s ease-in;
    width: 100%;
    outline: 2px #25c6b7 dashed;
    outline-offset: -5px;
    min-height: ~"calc(100vh - 64px - 66px - 40px)";
    .rec{
      height: 80px;
      width: 100%;
      box-shadow: 2px 2px 4px #eee;
      background: #fff;
      display: flex;
      border-bottom: 1px solid transparent;
      border-image:10 linear-gradient(to left,#38a 30%, #47a 60%, #25c6b7);
      .user-head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img{
          width: 60px;
          height: 100%;
        }
        span{
          height: 20px;
          line-height: 20px;
        }
      }
      .user-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
        flex: 2;
      }
      .operate{
        width: 180px;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-around;
        &.disabled button{
          display: none;
        }
      }
    }
  }
}
@keyframes leftRotate {
  from {
    transform-origin: 0 150%;
    transform: rotate(-90deg);
  }
  to {
    transform-origin: 0 150%;
    transform: rotate(0deg);
  }
}
@keyframes rightRotate {
  from {
    transform-origin: 0 150%;
    transform: rotate(90deg);
  }
  to {
    transform-origin: 0 150%;
    transform: rotate(0deg);
  }
}
@keyframes flipLeft {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes flipTop {
  from {
    transform: translate(0,-100%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes flipBottom {
  from {
    transform: translate(0,100%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes rightBottomScale {
  from {
    transform-origin: right bottom;
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.search-panel-top{
  position: relative;
  animation: 0.2s flipTop ease-in;
}
.search-panel-bottom{
  position: relative;
  min-height: ~"calc(100vh - 66px - 64px - 150px)";
  animation: 0.2s flipBottom ease-in;
}
.search-wrap{
  min-height: ~"calc(100vh - 280px)";
  position: relative;
  background-color: rgba(128, 128, 128, 0.25);
  animation: rightBottomScale 0.2s ease-in;
  .user-panel{
    background-color: #fff;
    padding: 5px;
    display: flex;
    align-items: space-between;
    .user-avatar{
      display: flex;
      align-items: center;
    }
    .user-info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .user-gen{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #524d4d;
    display: flex;
    justify-content: center;
    h3{
      margin-top: 150px;
      color: #fff;
    }
}
 .avatar-uploader,
    .avatar-uploader-trigger,
    .avatar {
    width: 150px;
    height: 150px;
    }
    .avatar-uploader {
    display: block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    }
    .avatar-uploader-trigger {
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
    }

.content{
  min-height: ~"calc( 100vh - 64px - 66px )";
}
.bg{
  position: relative;
  z-index: 2;  
  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    background: url('./bg.jpg') no-repeat;
    background-size: cover;
    filter: blur(0.5);
  }
}
.login-panel(@bottom,@dy){
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  position: relative;
  &:before{
    background: url('./bg.jpg') no-repeat; 
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    filter: blur(20px);
  }
  form{
    width: 80%;
    z-index: 2;
    position: relative;
    &:before{
      content: '';
      display: block;
      background: hsla(0,0%,50%,0.25);
      left: 50px;
      right: 50px;
      top: 0;
      bottom: @bottom;
      transform: translate(0,@dy);
      position: absolute;
    }
    .ant-form-item-label label{
      color: #fff;
    }
  }
}
.login-panel{
  .login-panel(-100%,-25%);
}
.signup-panel{
  .login-panel(-20%,-10%);
}
.room-create-panel{
  min-height: ~"calc(100vh - 130px)";
  display: flex;
  align-items: center;
  justify-content: center;
  form{
    width: 80%;
    z-index: 2;
    position: relative;
    label{
      color: #fff;
    }
    &:before{
      position: absolute;
      content: '';
      display: block;
      background: hsla(0,0%,50%,.25);
      bottom: -10px;
      top: -20px;
      left: 50px;
      right: 50px;
    }
    .room-member-transfer {
      .ant-transfer-list-content-item{
        color: #fff;
        &:hover{
          color: #444;
        }
      }
      .ant-transfer-list-body-not-found{
        color: #fff;
      }
    }
  }
}